Master branch is a template for starting variety of different CromwellRunner projects.
Specifically, 
* Project.config.dat does not exist, since it is copied / edited by user based on template
* README.project.md is template, with description for user of what to do with it
* Specific configuration files in ./config do not exist in master
  * it is expected that production runs will commit these
